<footer class="mt-5">
    <div class="main-content">
        <div class="title">
            <h2>COVID19WORLDWIDE</h2>
        </div>
        <div class="sub-title">
            <h5>We stand with everyone fighting on frontlines</h5>
        </div>
        <div class="links">
            <ul class="list-of-links">
                <li><a href="https://github.com/Prahlad3086" target="_blank"><i class="fab fa-github-square"></i></a></li>
                <li><a href="mailto: kprahalad25@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
                <li><a href="https://www.instagram.com/prahlad_3086" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="intent://send/7004293401#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" target="_blank"><i class="fab fa-whatsapp-square"></i></a></li>
            </ul>
        </div>
    </div>
</footer>