*{
    margin: 0;
    padding: 0;
}

body, html{
    background:  #161625!important;
    font-family: 'Rubik', sans-serif;
    color:  #6c757d;
}

.Navbar .navbar-head a{
    color: #6c757d;
}

.Navbar .navbar-head .country{
    color: #007bff;
}

.wrapper-main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.wrapper-main .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.wrapper .top .search-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper .top .search-bar form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper .top .search-bar .fadeUp {
    color: #6c757d;
    font-size: 14px;
}

.search-bar .search-input{
    width: 50%;
    height: 7vh;
    background:  #1e1e30!important;
    color: #f1e9e99f;
    font-size: 20px;
    outline: none;
    border: 0px;
    border-radius: 10px 0 0 10px;
}

.search-bar .search-btn{
    height: 7vh;
    width: 20%;
    text-decoration: none;
    background: #1e1e30;
    color: #6c757d;
    border: 0px;
    font-size: 24px;
    border-radius: 0px 10px 10px 0px;
}

.search-bar .search-btn:hover{
    cursor: pointer;
    background:  #6c757d!important;
    color: #1e1e30!important;
}

.wrapper .top .search-bar .time-stamp{
    color: #6c757d;
    font-size: 12px;
}

.wrapper .top .name-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wrapper .top .name-header .left{
    display: flex;
    justify-content: space-between;
    align-items: left;
    min-width: 50%;
    flex-direction: column;
    min-height: 20vh;
}

.wrapper .top .name-header .right{
    display: flex;
    justify-content: space-between;
    align-items: right;
    max-width: auto;
    flex-direction: column;
    min-height: 20vh;
}

.wrapper .top .name-header .left .country-name{
    text-align: center;
    padding: 1vh 0vh;
    color:  rgba(255,7,58,.6);
    background: rgba(255,7,58,.12549);
    border-radius: 10px;
}

.top .name-header .left .updated-time{
    color: #6c757d;
}

.top .name-header .right .tested{
    align-content: right;
    text-align: right;
    color:  #8475da;
}

.top .name-header .right .tested h4{
    font-size: 28px;
    font-weight: 600;
    color: #6955da;
}

.wrapper .top .Mappers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

.wrapper .top .Mappers .boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 2vh 1vw;
    border-radius: 10px;
    width: 25%;
}

.wrapper .top .Mappers .boxes h5{
    font-size: 14px;
    margin-bottom: 3vh;
}
.wrapper .top .Mappers .boxes h4{
    font-size: 12px;
}
.wrapper .top .Mappers .boxes h1{
    font-size: 200%;
}

.wrapper .top .Mappers .is-confirmed{
    color: rgba(255,7,58,.6);
}

.wrapper .top .Mappers .is-active{
    color: rgba(0,123,255,.6);
}

.wrapper .top .Mappers .is-recovered{
    color: rgba(40,167,69,.6);
}

.wrapper .top .Mappers .is-deceased{
    color: #6c757d!important;
}

.wrapper .top .Mappers .is-confirmed:hover{
    cursor: pointer;
    background: rgba(255,7,58,.12549);
}

.wrapper .top .Mappers .is-active:hover{
    cursor: pointer;
    background: rgba(0,123,255,.0627451);
}

.wrapper .top .Mappers .is-recovered:hover{
    cursor: pointer;
    background: rgba(40,167,69,.12549);
}

.wrapper .top .Mappers .is-deceased:hover{
    cursor: pointer;
    background: rgba(108,117,125,.0627451);
}

.wrapper .top .Mappers .is-active h1{
    margin-top: 6vh;
}

.wrapper .top .Mappers .is-recovered h1{
    margin-top: 6vh;
}

.boxes .svg-parent{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background: transparent!important;
    align-self: center;
    margin-bottom: -1vh;
}

/* Graphs CSS */
.wrapper .middle{
    width: 100%;
}

.wrapper .middle .Graphs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.middle .Graphs .graph-head h2{
    color: #f1e9e99f;
}

.middle .Graphs .graph-confirmed{
    background: rgba(255, 7, 58, 0.125);
    width: 100%;
}

.middle .Graphs .graph-active{
    background: rgba(0, 123, 255, 0.063);
    width: 100%;
}

.middle .Graphs .graph-recovered{
    background: rgba(40, 167, 69, 0.125);
    width: 100%;
}

.middle .Graphs .graph-deceased{
    background: rgba(108,117,125,.0627451);
    width: 100%;
}

.middle .Graphs .graph-tested{
    background: rgba(64,0,128,.313725)!important;
    width: 100%;
}


@media only screen and (min-width: 1299px){
    .wrapper .top{
        width: 80%;
    }

    .wrapper .top .search-bar form{
        width: 70%;
    }
}

@media only screen and (max-width: 1298px){
    .wrapper .top{
        width: 80%;
    }
}

@media only screen and (max-width: 800px){
    .wrapper-main .wrapper{
        width: 98%;
    }

    .wrapper .top{
        width: 90%;
    }
    .wrapper .top .Mappers .boxes h1{
        font-size: 4vw;
    }
    .wrapper .top .Mappers .boxes h5{
        font-size: 3.4vw;
    }
    .wrapper .top .Mappers .boxes h4{
        font-size: 3vw;
    }
}